DATABASE_URI = 'postgresql://pdnscontrol@/pdnscontrol'  
GRAPHITE_SERVER = 'http://{{ ansible_default_ipv4.address }}:8085/render/'  
SECRET_KEY = '{{ controlsecret }}'
#SECURITY_PASSWORD_SALT = '{{ controlsalt }}'
SECURITY_PASSWORD_HASH='plaintext'

serverlist_url = 'http://127.0.0.1:5000/servers.json'  
pdnscontrol_user = 'graphite@example.org'  
pdnscontrol_pass = 'notsecure'  
